.background1 {
    background-color: red;
    display: flex;
    justify-content: flex-start;
    height: 70px;

    .Logo {
        background-size: 15%;
    }

    .bouton-container {
        display: flex;
        align-items: flex-end;
        margin-left: 75rem;
        padding-bottom: 1%;


        #search {
            margin-right: 25px;
        }

        .types-bouton1 {
            background-color: transparent;
            border: none;
            font-size: 20px;
            margin-right: 20px;
            color: white;
        }

        .types-bouton2 {
            background-color: transparent;
            border: none;
            font-size: 20px;
            margin-right: 20px;
            white-space: nowrap;
            color: white;
        }

        .types-bouton3 {
            background-color: transparent;
            border: none;
            font-size: 20px;
            margin-right: 20px;
            color: white;
        }
    }


}