.Footer {
    font-size: 18px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    padding-top: 5px;
}

.background2 {
    background-color: black;
    height: 64px;
    margin-top: 1450px;
    position: static;

}

.text1 {
    color: white;
}